html {
    height: 100%;
}

body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    display: flex;
    box-sizing: border-box;
    color: #555;
}

.column {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#left-column {
    flex-shrink: 0;
    min-width: 300px;
    border-right: solid 1px #f7f7f7 !important;
}

.top-left {
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: 30px;
    padding: 15px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(114, 192, 44, 0.5)), to(rgba(232, 28, 98, 0.8)));
    background-image: -webkit-linear-gradient(top, rgba(114, 192, 44, 0.5) 0%, rgba(232, 28, 98, 0.8) 100%);
    background-image: -o-linear-gradient(top, rgba(114, 192, 44, 0.5) 0%, rgba(232, 28, 98, 0.8) 100%);
    background-image: linear-gradient(to bottom, rgba(114, 192, 44, 0.5) 0%, rgba(232, 28, 98, 0.8) 100%);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.top-right {
    flex-shrink: 0;
    display: inline-flex;
}

ul {
    display: inline-flex;
    list-style: none;
}

.bottom {
    flex-grow: 1;
    overflow-y: auto;
}

#profile-image {
    width: 100%;
}

.profile-avatar {
    margin: 0 auto;
    height: 164px;
    width: 164px;
    background: darkgray;
    border: 3px solid rgba(0, 150, 136, 0.83);
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    font-size: 25px;
}

/*.navbar li::{*/
/**/
/*}*/